.jack-hiding {
  height: 500px;
  width: 500px;
  background-image: url("https://5.imimg.com/data5/PC/SV/MY-20797814/carton-box-250x250.jpg");
  background-position: center;
  background-size: contain;
}

/* Use this image for the revealed Jack: https://sep.yimg.com/ay/genius-babies/jester-jack-in-the-box-toy-25.gif */

.jack-revealed {
  height: 600px;
  width: 600px;
  background-image: url("https://i.imgur.com/DGgfg9L.jpg");
  background-position: center;
  background-size: contain;
}
